p, h1, h2, h3, h4 {
    margin-block: 10px;
    box-sizing: initial;
}

h1 {
    margin-block-start: 16px;
}

h2{
    margin-block-start: 8px
}

.date {
    font-style: italic;
}

.author{
    font-weight: lighter;

}

.divisor{
    width: 100%;
    border-top: solid black 1px;
    margin-block-start: 30px;
    margin-block-end: 60px;
}