---
import BaseLayout from "../Layouts/BaseLayout.astro"
---
<BaseLayout>
     <p>I'm currently working on a personal blog for tracking my personal project and sharing cool problems!</p>
</BaseLayout>

