---
import BaseLayout from "../Layouts/BaseLayout.astro"
---
<BaseLayout title="About">
     <p>I'm currently working on a personal blog for tracking my personal projects and sharing cool problems!</p>
</BaseLayout>

