---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>

	<header>
		<a href="/">Home</a>
		<a href="/projects">Projects</a>
		<a href="/blog">Blog</a>
		<a href="/about">About</a>
	</header>

	<main>
		<h1>Santiago López</h1>
		<h4>A passionate inquirer</h4>
		<p>Currently studying computer science at Universidad Nacional de Colombia.</p>
	</main>

	<footer>
		<span>Santiago López</span>
		<span>dlopezda@unal.edu.co</span>
		<span>SDG</span>
	</footer>
  </body>
</html>
