---
const { title, pubDate, description, url } = Astro.props

const date = new Date(pubDate)

const formattedDate = date.toLocaleDateString('en-US', {
  year: 'numeric',
  month: 'short',
  day: 'numeric'
});
---
<style>
  #wrapper {
    border-block-end: solid 1px;
    padding-block: 24px
  }

  .date {
    font-style: italic;
  }

  .description {
    margin-block-start: 16px;
  }

  .link{
    margin-top: 8px;
  }

</style>

<div id = "wrapper">
    <h2> { title } </h2>
    <p class="date" >  { formattedDate } </p>
    <p class= "description">  { description } </p> 
    <div class = "link" >
      <a href={url}> See more... </a>
    </div>
    
</div>

<!-- layout: '../../layouts/PostLayout.astro'
title: 'My First Blog Post'
pubDate: 2022-07-01
description: 'This is the first post of my new Astro blog.'
author: 'Astro Learner' -->


