<style>
  footer {
    grid-area: 6 / 1 / last-line / 10;
    display: flex;
    justify-content: space-around;
    align-items: center 
  }
</style>

<footer>
    <span>Santiago López</span>
    <span>dlopezda@unal.edu.co</span>
    <span>SDG</span>
</footer>