---

---
<style>
  header {
    grid-area: 1 / 1 / 1 / 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  a, a:visited, a:hover, a:active {
    color: inherit;
  }
  
</style>

<header>
  <a href="/">Home</a>
  <!-- <a href="/projects">Projects</a> -->
  <a href="/blog">Blog</a>
  <a href="/about">About</a>
</header>

