---
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import GlobalStyles from "../components/GlobalStyles.astro"
const { title } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <GlobalStyles></GlobalStyles>
		<title>{ title }</title>

	<style>
		body {
			display: grid;
			grid-template-rows: minmax( 16vh , 1fr ) 1fr minmax(min-content, 1fr) 1fr 1fr minmax( 16vh , 1fr);
			grid-template-columns: repeat(9, 1fr) ;
		}	
		

		main {
			grid-area: 2 / 2 / 6 / 9;
			min-height: 100%;
			width: 100%;
			/* overflow: hidden; */
		}

	</style>

	</head>
	<body> 
        <Header></Header>
		
        <main>
            <slot/>
        </main>

        <Footer></Footer>
	</body>
</html>
